.tags
    background-color: #fff
    // border: 1px solid #ccc
    overflow: hidden
    padding-left: 4px
    padding-top: 4px
    cursor: text
    text-align: left
    -webkit-appearance: textfield
    display: flex
    flex-wrap: wrap
    
    &.read-only
        cursor: default

.input-tag
    background-color: #F07
    // border-radius: 2px
    // border: 1px solid #a5d24a
    color: #FFF
    display: inline-block
    font-size: 13px
    font-weight: 400
    margin-bottom: 4px
    margin-right: 4px
    padding: 2px 8px 2px 4px

    &.is-type
        background-color: #F70
    .is-not
        text-decoration: line-through

    .remove
        cursor: pointer
        font-weight: bold
        color: #FFF

        &:hover
            text-decoration: none

        &::before
            content: "✖"
            margin-left: 4px

.new-tag
    background: transparent
    border: 0
    color: #777
    font-size: 13px
    font-weight: 400
    margin-bottom: 6px
    margin-top: 1px
    outline: none
    padding: 4px
    padding-left: 0
    flex-grow: 1
