<div class="modal">

    <div class="bg" @click="close"></div>
    
    <div class="box">

        <!-- {{ (post && post.uid) || '' }} -->

        <input type="datetime-local" v-model="date" class="date">
    
        <input type="text" v-model="title" placeholder="title" class="title">

        <part-admin-file-loader v-if="state !== STATE.CANCELED" @file="thumbChange" :src="getThumbSrc() || ''" :info="thumb" :only-img="true"></part-admin-file-loader>

    
        <input type="text" v-model="types" placeholder="types">
    
        <textarea cols="30" rows="10" v-model="description" placeholder="description"></textarea>
    

        <!-- :info="content"  -->
        <part-admin-file-loader v-if="state !== STATE.CANCELED" @file="fileChange" :src="getFileSrc() || ''" :only-img="false"></part-admin-file-loader>

        <input type="text" v-model="tags" placeholder="tags">

        <textarea @keydown="resizeContentRaw" ref="contentRaw" rows="1" v-model="contentRaw" placeholder="text" class="content-raw"></textarea>
        <part-content :data="content"></part-content>

        <input type="checkbox" v-model="public"> Public
        <button @click="save" v-html="insert ? 'Create' : 'Update'"></button>
        <button v-if="!insert" @click="deletePost">Delete</button>
        <button @click="cancel">Cancel changes</button>
    </div>
</div>