.line
    padding: 0.25em 0.5em
    margin-bottom: 0.5em
    position: relative
    cursor: pointer
    &:hover
        background-color: rgba(255, 255, 255, 0.25)
        
        &:after
            content: "Edit"
            position: absolute
            top: 50%
            right: 1em
            transform: translateY(-50%)
    .tag
        &:after
            content: ", "
        &:last-of-type
            &:after
                content: none
    .date
        margin-left: auto

input
    border: none
