<tr>
    <td>
        {{ post.uid }}
    </td>
    <td>
        <input type="text" v-model="type">
    </td>
    <td>
        <input type="text" v-model="title">
    </td>
    <td>
        <textarea cols="30" rows="10" v-model="description"></textarea>
    </td>
    <td>
        <input type="datetime-local" v-model="date">
    </td>
    <td>
        {{ post.content_file || 'no file' }}
        <input type="file" :disabled="false" @change="filesChange($event.target.files)">
        <img v-if="fileImg" :src="fileImg" alt="">
    </td>
    <td>
        <input type="text" v-model="content_link">
    </td>
    <td>
        <textarea cols="30" rows="10" v-model="content_text"></textarea>
    </td>
    <td>
        {{ post.public }}
    </td>
    <td>
        <a @click="save">Save</a>
    </td>
</tr>