<div class="modal">

    <div class="bg" @click="close"></div>
    
    <div class="box">

        <label><input type="checkbox" v-model="isFile">File</label>

        <div v-if="state === 0">
            
            <part-admin-file-loader v-if="isFile" @file="data => {fileChange(data); validContent()}" :src="getFileSrc() || ''" :only-img="false"></part-admin-file-loader>
            <template v-else>
                <part-input-textarea @submit="validContent" :value="contentRaw" @change="argValue => contentRaw = argValue" placeholder="Content (URL, markdown, HTML, embed...)"></part-input-textarea>
                <part-content :data="content"></part-content>
            </template>
    
            <button @click="validContent">Ok</button>
        </div>
        <div v-else="state === 1">

    
            <input type="datetime-local" v-model="date" class="date">
        
            <input type="text" v-model="title" placeholder="title" class="title">
    
            <part-admin-file-loader @file="thumbChange" :src="getThumbSrc() || ''" :info="thumb" :only-img="true"></part-admin-file-loader>
    
        
            <input type="text" v-model="types" placeholder="types">
        
            <part-input-textarea :value="description" @change="argValue => description = argValue" placeholder="Description"></part-input-textarea>
            


            <part-admin-file-loader v-if="isFile" @file="fileChange" :src="getFileSrc() || ''" :only-img="false"></part-admin-file-loader>
            <template v-else>
                <part-input-textarea @submit="validContent" :value="contentRaw" @change="argValue => contentRaw = argValue" placeholder="Content (URL, markdown, HTML, embed...)"></part-input-textarea>
                <part-content :data="content"></part-content>
            </template>


    
            <!-- :info="content"  -->
            <!-- <part-admin-file-loader @file="fileChange" :src="getFileSrc() || ''" :only-img="false"></part-admin-file-loader> -->
    
            <input type="text" v-model="tags" placeholder="tags">
    
            <!-- <part-input-textarea :value="contentRaw" @change="argValue => contentRaw = argValue" placeholder="Content (URL, markdown, HTML, embed...)"></part-input-textarea>
            <part-content :data="content"></part-content> -->
    
            <input type="checkbox" v-model="public"> Public
            <button @click="save" v-html="insert ? 'Create' : 'Update'"></button>
            <button v-if="!insert" @click="deletePost">Delete</button>
            <button @click="cancel">Cancel changes</button>
        </div>

    </div>
</div>