.DS_Store
node_modules/
front/
npm-debug.log
yarn-error.log

api/vendor
api/data
api/nbproject
api/phpliteadmin.php
api/phpliteadmin.config.php

admin/vendor
admin/composer.lock
admin/api/logs/development.log
admin/api/config.php
admin/api/configuration.php

admin-cockpit/
admin-directus/
admin-directus-install/
content-save/
symfony/
admin-install/inspire.all-db.sql
_old/


# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# admin
*~
*.diff
*.patch
.DS_Store
.project
.settings
.idea
content-save/
admin/storage/*.*
admin/storage/*/*
admin/config/*
admin/tests/*
admin/node_modules
admin/addons/
admin/defines.php
!admin/storage/*/index.html
!admin/storage/*/.htaccess
!admin/storage/collections/*
!admin/storage/regions/*
!.gitignore
!.gitkeep
