node_modules/
public/
npm-debug.log
yarn-error.log

api/vendor
api/data
api/nbproject
api/phpliteadmin.php
api/phpliteadmin.config.php
api/config.php

content-save/
_old/


# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# admin
*~
*.diff
*.patch
.DS_Store
.project
.settings
.idea