<div @click="focusNewTag()" :class="{'read-only': readOnly}" class="vue-input-tag-wrapper">
    <span v-for="(tag, index) in innerTags" :key="index" class="input-tag">
      <span>{{ tag }}</span>
      <a v-if="!readOnly" @click.prevent.stop="remove(index)" class="remove"></a>
    </span>
    <input
      v-if = "!readOnly && !isLimit"
      ref = "inputtag"
      :placeholder = "placeholder"
      type = "text"
      v-model = "newTag"
      v-on:keydown.delete.stop = "removeLastTag"
      v-on:keydown = "addNew"
      v-on:blur = "addNew"
      class = "new-tag"
    />
</div>