// .post
//     position: relative
//     width: 25%

// .has-thumb
//     .title
//         display: none

// .time
//     display: none

// .description
//     display: none

// .score
//     display: none

// .tags
//     display: none

// .thumb
//     /deep/ img
//         width: 100%
//         height: auto
//         display: block

// .has-thumb
//     .content
//         display: none

$marg: 4px

.is-thumb
    .date, .title, .description, .tags, .score
        display: none

    .post
        grid-row-end: span 2
        grid-column-end: span 2
        position: relative

    .post
        &.w1
            grid-row-end: span 1
        &.w2
            grid-row-end: span 2
        &.w3
            grid-row-end: span 3
        &.h1
            grid-column-end: span 1
        &.h2
            grid-column-end: span 2
        &.h3
            grid-column-end: span 3

    .thumb
        position: absolute
        background-size: cover
        background-position: center center
        background-color: whitesmoke
        top: 0
        left: 0
        width: 100%
        height: 100%


.is-text
    .post
        display: flex
        justify-content: space-between
        margin-bottom: 4px

    .date, .thumb
        display: none
    
    .title, 
        margin: $marg 16px

    .description
        margin: $marg
    
    .title
        font-size: 1em
        white-space: nowrap
        padding: 0
    
    .description
        font-size: 1em
        overflow: hidden
        white-space: nowrap
        margin-right: auto

    .tags
        list-style: none
        display: flex
        padding: 0
        margin: 0
        .tag
            margin-left: 8px
            background-color: #FFF
            padding: $marg
            white-space: nowrap

    .score
        margin: $marg 16px
