.post
    position: relative
    width: 25%

.has-thumb
    .title
        display: none

.time
    display: none

.description
    display: none

.score
    display: none

.tags
    display: none

.thumb
    /deep/ img
        width: 100%
        height: auto
        display: block


.has-thumb
    .content
        display: none