<article>
    <h1>
        {{ data.title }}
    </h1>
    <time>
        {{ data.date }}
    </time>
    <p>
        {{ data.description }}
    </p>
    <span>
        {{ data.score }}/5
    </span>
    <ul>
        <li v-for="tag of data.tags">
            {{ tag }}
        </li>
    </ul>
    
    <part-asset v-if="data.thumb" :data="data.thumb"></part-asset>

    <template v-for="content of data.content">
        <part-asset v-if="content.field.type == 'asset'" :data="content.value"></part-asset>
    </template>

</article>