<a :href="href" target="blank" class="post" :class="classData" :style="postStyle">

    <h1 class="title">
        {{ data.title }}
    </h1>

    <time class="date">
        {{ data.date }}
    </time>

    <p class="description">
        {{ data.description }}
    </p>

    <ul class="tags">
        <li v-for="tag of data.tags" class="tag">
            {{ tag }}
        </li>
    </ul>

    <span class="score">
        {{ data.score }}/5
    </span>

    <transition name="thumbfade">
        <div v-if="isThumbLoaded && thumbStyle" :style="thumbStyle" class="thumb"></div>
    </transition>

</a>