<article class="post" :class="classData" :style="{ backgroundColor: '#' + data.content_file.data.colors.split(',')[0] }">

    <h1 class="title">
        {{ data.title }}
    </h1>

    <time class="date">
        {{ data.date }}
    </time>

    <p class="description">
        {{ data.description }}
    </p>

    <ul class="tags">
        <li v-for="tag of data.tags" class="tag">
            {{ tag }}
        </li>
    </ul>

    <span class="score">
        {{ data.score }}/5
    </span>

    <div v-if="getThumb()" :style="{ 'background-image': 'url(' + getThumb().url + ')' }" class="thumb"></div>
    
</article>