<div>

    <input type="file" :disabled="false" @change="filesChange($event.target.files)" :accept="onlyImg ? 'image/*' : '*'">
    
    <div v-if="isImg && finalSrc !== ''" class="file-img" :style="{ backgroundImage: 'url(' + finalSrc + ')' }">
        
        <div v-if="info" v-for="(data, key) of info">
            <small v-if="key === 'colors'">
                <strong>{{ key }}</strong>:
                <span v-for="color of data" class="color" :style="{ background: color }"></span>
            </small>
            <small v-else>
                <strong>{{ key }}</strong>: {{ data }}
            </small>
        </div>

    </div>
    <div v-else-if="info" v-for="(data, key) of info">
        <small v-if="key === 'colors'">
            <strong>{{ key }}</strong>:
            <span v-for="color of data" class="color" :style="{ background: color }"></span>
        </small>
        <small v-else>
            <strong>{{ key }}</strong>: {{ data }}
        </small>
    </div>

</div>